.agradecimientos{
    width: 100%;
    height: 100vh;
}
.imagen{
    margin-top: 20%;
    width: 100%;
    height: 20%;
    position: relative;
    text-align: center;
}
.imagen h1{
    font-size: 2rem;
}
.boxshadtop{
    box-shadow: 1px 1px 4px rgba(50,50,50,0.6);
}
.nombrecliente{
    color: var(--color-terciario);
}