


/*-------------------------------------------------*/
/*------------------PRINCIPAL--------------------*/
/*-------------------------------------------------*/



#herohernia {
  width: 100%;
  height: 100vh;
  background: url("../img/web/hernia.png") top center;
  background-size: cover;
  position: relative;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



/*-------------------------------------------------*/
/*------------------DESCRIPCION--------------------*/
/*-------------------------------------------------*/


.cont-gen--img{
    width: 50%;
}

.desc_hernia{
    width: 100%;
    height: auto;
    padding: 0 !important;
    margin-top: 30px;
}

.desc_general{
    position: relative;
    /* width: 80%; */
    /* height: 60%; */
    /* left: 25%;
    top: 20%; */
}

.cont-gen{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    padding: 50px;
}



.desc_general h2{
    font-size: 2rem;
    font-family: "FuturaExtraBold", sans-serif;
    color: var(--color-principal);
    margin-left: 0 !important;
}
.desc_general p{
    font-family: "FuturaBook";
    font-size: 1.5rem;
}

.imgdisco{
    width: 85%;
    height: auto;
    position: relative;
    left: 5%;
    top: 30%;
}
.imgdisco img{
    position: relative;
    width: 100%;
    height: 100%;
}




/*-------------------------------------------------*/
/*-------------------SINTOMAS----------------------*/
/*-------------------------------------------------*/


/* SINTOMAS CUADRO */

.cont-sint{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-flow: row;
    height: 300px;
    position: relative;
}

.cont-sint--cont-img{
    width: 50%;
    height: 100%;
}

.cont-sint--cont-txt{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2FA6F8;
    color: white;
    padding-left: 60px;
    box-sizing: border-box;
}

.txt_sin{
    font-family: "FuturaMedium";
    font-size: 1.2rem;
}

.plus_up{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 50px;
}

.plus_down{
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 50px;
}


.img-sin{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sintomas{
    width: 100%;
    height: auto;
    position: relative;
    margin: 30px 0;
}
.texto_sintomas h2{
    font-size: 2rem;
    font-family: "FuturaExtraBold", sans-serif;
    width: 100%;
    text-align: center;
    margin-left: 0 !important;

}
.imgsintomas{
    width: 100%;
    height: auto;
    position: relative;
}
.imgsintomas img{
    position: relative;
    width: 100%;
    height: 100%;
}
.texto_sintomas_2 p{
    width: 90%;
    margin-top: 2%;
    left: 5%;
    position: relative;
    height: auto;
    font-family: "FuturaMedium", sans-serif;
    font-size: 1.5rem;
}






/*-------------------------------------------------*/
/*-------------------FACTORES----------------------*/
/*-------------------------------------------------*/


.factores_complicaciones{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #F7F7F7;
}
.factores_complicaciones h2{
    margin-left: 0 !important;
    width: 100%;
    height: auto;
    font-size: 2rem;
    font-family: "FuturaBold", sans-serif;
    text-align: left;
    color: var(--color-principal);

}
.custom_linea{
    border-right: 2px solid var(--color-secundario);
}
.margen_fac{
    position: relative;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    overflow: hidden;
}

.margen_fac ul{
width: 80%;
height: auto;
padding: 0;
}
.margen_fac ul li{
    font-family: "FuturaMedium", sans-serif;
    font-size: 1.2rem;
}

.texto_izquierda_factores{
    
}


.cont_button-mov {
    position: relative;
    width: 100%;
    height: 150px;
}



.desktop-not{
    display: none;
}

.cont_comp--le{
    width: 50%;
}

.cont_comp--rh{
    width: 50%;
}

.plus_sm{
    width: 13px;
    margin: 4px 8px 0 0;
}

.align_img{
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* MEDIAS */

@media (min-width: 100px) and (max-width: 991px){

 
    .movil-not{
        display: none;
    }

    .fx_mapa-cont{
        display: block;
    }

    .cont-sint{
        flex-flow: column;
        height: 70vh;
        min-width: 350px;
     }


     .cont-sint--cont-txt{
         width: 100%;
         padding-left: 30px;
         justify-content: flex-start;
     }

     .cont-sint--cont-img{
        width: 100%;
    }

    .cont-gen--img{
        width: 100%;
    }

    .cont-gen{
        width: 100%;
        padding: 50px 30px;
    }

    .desc_general p{
        font-size: 1.1rem;
        text-align: center;
    }

    .imgdisco{
        top: unset;
        left: unset;
        width: 100%;
    }


    .factores_complicaciones{
        width: 100%;
        height: auto;
        position: relative;
        background-color: #F7F7F7;
        padding: 50px 30px;
    }

    .custom_linea{
        border: 0px solid transparent;
    }

    .cont_comp--rh{
        width: 100%;
        margin-top: 20px;
    }

    .cont_comp--le{
        width: 100%;
    }

    .margen_fac{
      padding: 0 0px;
    }

    .texto_sintomas_2 p{
        font-size: 1.1rem;
    }

    #herohernia {
        width: 100%;
        height: 65vh;
        background: url("../img/web/mov_herni.png");
        background-size: cover;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
      }
      
}
