.tratamientos_pad_movil {
    display: none;
    padding: 0 !important;
}
.tratamientos_pad_movil {
    width: 100%;
    height: auto;
    position: relative;
}

#heropadecimientos{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #F7F7F7;
    justify-content: center;
    /* margin-top: 105px; */
    padding-top: 190px;
}

.justify-center{
    display: flex;
    justify-content: center;
}
.cuadro_pad{
    width: 90%;
    height: auto;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 40px 20px 20px;
  
}
.texto_izquierda_pad{
    width: 90%;
    height: 800px;
    padding: 0 !important;
    margin: 0 !important;
    top: 5%;
    position: relative;
}

.texto_izquierda_pad h2{
    font-size: 2rem;
    font-family: "FuturaExtraBold", sans-serif;
    color: var(--color-principal);
}
.texto_izquierda_pad span
{
    color: var(--color-terciario);
    font-size: 1.4rem;
    font-family: "FuturaMedium", sans-serif;
}
.texto_izquierda_pad p{
    font-size: 1rem;
    font-family: "FuturaBook", sans-serif;
    font-weight:    lighter;
}
.tratamientos_pad{
    width: 100%;
    height: auto;
    position: relative;
}

.lista1{
    width: 80%;
    left: 15%;
}
.lista3{
    width: 100%;
    position: relative;
    left: -15%;
}
.lista3 ul{
    width: 100%;
}

.lista2, .lista3{
    margin-top: 25%;
}



.lista1, .lista2, .lista3{
    width: 100%;
    position: relative;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}
.lista1, .lista2, .lista3 ul li{
    font-size: 1rem;
    font-family: "FuturaBook", sans-serif;

}

.azul_pad{
    width: 100%;
    height: 100px;
    padding: 25px 50px;
    color: white;
    background-color: var(--color-secundario);
}
.azul_pad_50{
    width: 50%;
    height: 100px;
    color: white;
    background-color: var(--color-secundario);
    text-align: center;
   
}
.azul_pad_50 span{
    width: 100%;
    height: auto;
    position: relative;
     margin-top: auto;
     margin-bottom: auto;
     top: 35%;
}
input.button_form_enviar {
    width: auto;
    height: 65px;
    border: none;
    outline: none;
    background: var(--color-terciario);
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0 20px;
}


.plus_sm{
    width: 13px;
    margin: 4px 8px 0 0;
}

.align_img{
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.desktop-not{
    display: none;
}

.cont_lista1{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.movil-not{
    display: block;
}

/* .seccion_movil{
    display: none;
} */



.cont-pad--titulo{
    font-size: 2rem;
    font-family: "FuturaExtraBold", sans-serif;
    color: var(--color-principal);
    margin-left: 0%!important;
}

.cont-pad--cont-txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.cont-pad--cont-info{
    width: 47%;
    min-width: 400px;
}

.pd-tp20{
    padding: 10px 0;
}

@media (min-width: 100px) and (max-width: 991px){

    

    .movil-not{
        display: none;
    }
    
    
    .fx_mapa-cont{
        display: block;
    }
    
    .texto_izquierda_pad{
        width: 90%;
        height: 800px;
        padding: 0 !important;
        margin: 0 !important;
        top: unset;
        position: relative;
    }

    .cont-pad--cont-info{
        width: 100%;
        min-width: 200px;
        /* padding: 20px 0; */
    }


    .tratamientos_pad {
        display: none;

    }
    .tratamientos_pad_movil {
        display: block;
    }
    #heropadecimientos{
      
           width: 100%;
           height: 225vh;
           position: relative;
           background-color: #F7F7F7;
       }
       .cuadro_pad{
           height: auto;
           top: 0;

       }
       .azul_pad_50 {
           width: 100%;
           height: 100px;
           color: white;
           background-color: var(--color-secundario);
           text-align: center;

       }

       .azul_pad_50 span {
           width: 100%;
           height: auto;
           position: relative;
           margin-top: auto;
           margin-bottom: auto;
           top: 35%;
       }
    
       .lista1{
           left: 0;
       }
       .lista3{
           left: 0;
       }
       
    #heropadecimientos{
        height: auto;
        box-sizing: border-box;
        padding: 175px 0;
    }
    .cuadro_pad{
        height: auto;
    }

}