/**
* Template Name: Medilab - v2.1.1
* Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root{
  --color-principal: #0A3380;
  --color-secundario: #2FA4F6;
  --color-terciario: #54CBD3;
  --blanco: #fff;
  --negro: #000;
  --textos: #4D4D4D;
}

    @font-face {
      font-family: "FuturaExtraBold";
      src: url("../Fonts/FuturaPTExtraBold.otf");
    }
    
    @font-face {
      font-family: "FuturaBold";
      src: url('../Fonts/FuturaPTBold.otf');
    }

    @font-face {
      font-family: "FuturaBook";
      src: url("../Fonts/FuturaPTBook.otf");
    }

    @font-face {
      font-family: "FuturaMedium";
      src: url("../Fonts/FuturaPTMedium.otf");
    }

    @font-face {
      font-family: "FuturaHeavy";
      src: url("../Fonts/FuturaPTHeavy.otf");
    }

    .pd-lf{
      padding-left: 40px;
      padding-bottom: 15px;
    }
    .pd-mov{
      padding-top: 20px;
      padding-bottom: 15px;
    }

.tit-gen--green{
  font-size: 1.6rem;
  color: var(--color-terciario);
  font-family: "FuturaMedium", sans-serif;
}
    
.txt-gen--gray{
  font-size: 1.2rem;
  font-family: "FuturaBook", sans-serif;
}

.futuraBook{
  font-family: "FuturaBook", sans-serif;
}
    
.heavy-movil{
  font-family: "FuturaHeavy";
}

.seccion_movil{
  padding: 0 !important;
  overflow: inherit;
}

.btn_ver-mov{
  /* margin: 0%!important; */
  padding: 0%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  width: 200px;
  margin: 10px auto!important;
  position: relative;
  z-index: 2;
  background-color: #54CDD5;
  color: white;
  font-family: "FuturaBook";
}

.llama_col{
  display: flex;
  flex-flow: column;
}

.btn_ver-mov:hover{
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}
.seccion_web{
  padding: 0 !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.contacto2_letras {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 25px;
  bottom: 25px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1977cc;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #1c84e3;
  color: #fff;
}

.datepicker-dropdown {
  padding: 20px !important;
}



.prueba_fail{
  color: red;
  font-size: 28px;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  background: #fff;
  height: 12vh;
  font-size: .8rem;
  transition: all .5s ease-in-out;
}
.info_contacto_malo{
  margin-left: 0!important;
  font-size: .80rem;
  line-height: 1rem !important;
  font-family: "FuturaMedium";
  color: #888;
}
.contacto_malo_strong{
  color: #555 !important;
  font-size: 1.1rem !important;
  font-family: FuturaBold;
  line-height: 15px;
}

.no_mg{
  margin: 0%!important;
  /* color: #888!important; */
}
.bl-col{
  color: var(--blanco);
}

.bl-col:hover{
  color: var(--blanco);
}

.contact-info{
  font-size: .5rem;
  margin-left: 40%;
  width: 100%;
}
#topbar.topbar-scrolled {
  top: -12vh;
}

#topbar .contact-info a {
  line-height: 1;
  color: #444444;
}

#topbar .contact-info a:hover {
  color: #1977cc;
}

#topbar .contact-info i {
  color: var(--color-terciario);
  padding-right: 4px;
  margin-left: 15px;
}

#topbar .contact-info i:first-child {
    position: absolute;
    left: -25%;
    font-size: 2rem;
    
}

#topbar .social-links a {
  color: #437099;
  display: inline-block;
  line-height: 1px;
}

#topbar .social-links a:hover {
  color: #1977cc;
}

#topbar .social-links a:first-child {
  border-left: 0;
}


.logotipo_img{
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
}
.logotipo_img img{
  position: relative;
  width: 140px;
  margin-left: 30%
}

.custom_col_1{
  margin-right: 10%;
  border-right: 1px solid black;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: var(--color-principal);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 12vh;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #2c4964;
}

#header .logo img {
  max-height: 40px;
}

/* NAV MENU MOVIL */

.cont_movil{
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.menu-anim-cont{
  display: flex;
  flex-flow: column;
  padding: 20px;
  transition: 1s ease-in-out;
  position: relative;
  z-index: 100;
  
}

.menu-ln{
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-principal);
}

.ln1{
  transition: 1s ease-in-out;
  margin-bottom: 2.5px;
  transform: rotate(0deg) translate(0px, 0px);
}
.ln2{
  transition: 1s ease-in-out;
  margin: 2.5px 0;
}
.ln3{
  transition: 1s ease-in-out;
  margin-top: 2.5px;
  transform: rotate(0deg) translate(0px, 0px);
}


.menu-ln-active{
  background-color: var(--blanco);
  transition: 1s ease-in-out;
}

.menu-anim-cont-active .ln1{
  transition: 1s ease-in-out;
  transform: rotate(45deg) translate(7px, 2px);
  /* transform: translate(10px, -10px); */
   margin: 0%;

}

.menu-anim-cont-active .ln2{
  transition: 1s ease-in-out;
  width: 0%;
   margin: 0%;
}


.menu-anim-cont-active .ln3{
  transition: 1s ease-in-out;
  transform: rotate(-45deg) translate(4px, -1px);
  /* transform: translate(10px, 10px); */
  margin: 0%;
}

.active-menu .menu_mov{
  /* background-color: var(--color-principal)!important; */
  transition: 1s ease-in-out;
  height: 50vh;
  z-index: 10;
}

.menu_mov{
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--color-principal);
  position: absolute;
  top: 0%;
  transition: 1s ease-in-out;
  border-radius: 0 0px 25px 25px;
}
.menu-tel-int{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt-a-mov{
  font-family: "FuturaMedium";
  margin: 15px 0!important;
  font-size: 1.5rem;
  color: #fff;  
  text-align: center;
}

.ln-bl{
  position: absolute;
  background-color: #fff;
  width: 70px;
  margin: 0 auto;
  bottom: 10px;
  height: 5px;
  border-radius: 5px;
}

.menu-mov--center{
  text-align: center;
  display: flex;
  flex-flow: column;
}
/* .menu-anim-cont-active{
  padding-top: 30px;
} */

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.nav-menu{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu a {
  display: block;
  position: relative;
  color: white;
  transition: 0.3s;
  font-size: 1.2rem;
  font-family: "FuturaBold", sans-serif;
  padding: 5px 2px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #1977cc;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

/*
@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}*/
.cont_medicos{
  margin-bottom: 40px;
}

.appointment-btn:hover {
  background: #166ab5;
  color: #fff;
}



/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 20px;
  top: 25px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 35px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #1977cc;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  height: 30vh;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2c4964;
  padding: 15px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #1977cc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

.logoespine{
  margin-left: 0 !important; 
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/web/hugomalo.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -200px;
  background-position: 0 50px;
  background-repeat: no-repeat;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 700;
  line-height: 4rem;
  text-transform: uppercase;
  color: #2c4964;
  margin-left: 35% !important;
  font-family: FuturaHeavy;
}

#hero h2 {
  color: #2c4964;
  margin: 10px 0 0 0;
  font-size: 24px;
  margin-left: 35% !important;
  font-family: "FuturaMedium";
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}
.textoprincipal{
  position: relative;
  width: 100%;
}
.textoprincipal h1, h2, a{
  margin-left: 35% !important;
}
.textoprincipal h1{
  color: var(--color-principal) !important;
}
.textoprincipal h2{
color: var(--textos) !important;
}
.dr_malo_h1{
  margin-top: -15%;
}

#hero .btn-get-started:hover {
  background: #3291e6;
}
#hero {
background-attachment: fixed;
}

@media (max-width: 768px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }
  #hero .container {
    padding-bottom: 63px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.custom_row_pionero{
  position: relative;
    width: 100%;
    height: 20vh;
    margin: 0;
    margin-top: -20%;
}


.img_cuad{
  position: relative;
  left: 40%;
}

.img_cuadEndos{
  width: 35%;
}

.img_causis{
  width: 20%;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 100px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #1977cc;
  border-radius: 4px;
  color: #fff;
}

.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .content p {
  margin-bottom: 30px;
}

.why-us .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
  font-size: 14px;
}

.why-us .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}

.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}

.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about{
  width: 100%;
  height: auto;
  padding-bottom: 75px;
  padding-top: 0px;
}


.about .icon-boxes h4 {
  font-size: 18px;
  color: #4b7dab;
  margin-bottom: 15px;
}

.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #2c4964;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #8dc2f1;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #1977cc;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #1977cc;
  border-color: #1977cc;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #1977cc;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background: url("../img/about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#1977cc 50%, rgba(25, 119, 204, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(25, 119, 204, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #1977cc;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
.texto_about{
  width: 80%;
  /* height: 20vh; */
  top: 30%;
  left: 30%;
  position: relative;
}
.texto_about h1
{
  color: var(--color-principal);
  font-family: "FuturaExtraBold", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}
.texto_about p{
  width: 60%;
  font-size: 1.5rem;
  text-align: justify;
}
.texto_about_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 65px;
  border: none;
  outline: none;
  top: 40%;
  left: 48%;
  position: relative;
  background: var(--color-terciario);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0%!important;
  padding: 0%!important;
}

.texto_about_button:hover{
  color: #fff;
}

.img_about{
  position: relative;
  top: 15%;
  right: -15%;
  width: 70%;
  height: 100%;
  padding: 30px;
}
.img_about img{
  position: relative;
  width: 100%;
  height: 100%;
}

.pad-bt-75{
  padding-bottom: 70px;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  height: 60vh;
  position: relative;
  padding: 0;
}
.custom_otros{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_otrosPad{
  width: 75%;
  background-color: #2FA4F6;
  background-image: url('../img/1x/otros_pad.png');
  background-position: left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  color: white;
  display: inline-flex;
  height: 250px;
  margin-top: 8%;
}

.cont_otrosPad-contleft{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.cont_otrosPad-contright{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  padding: 20px;
}

.cont_otrosPad-tit{
  font-family: "FuturaExtraBold";
}

.cont_otrosPad-txt{
  font-family: "FuturaBook";
  font-size: 1.2rem;
}


.img_otros_padecimientos{
  position: relative;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 40px;
  z-index: -99;
}
.img_otros_padecimientos img{
  width: 100%;
  height: 100%;
  top: 10%;
  position: relative;
}
.texto_otros_button{
  width: 10%;
  height: 65px;
  border: none;
  outline: none;
  top: 90%;
  left: 75%;
  position: absolute;
  background: var(--color-terciario);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
  padding:0;
  margin-top: 50px;
}
.second_image_serv{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../img/web/hugo2.png');
  background-size: 100% 100%;
  background-attachment: fixed;
}
.cuadro_services{
  width: 35%;
  border-radius: 10px;
  height: auto;
  position: relative;
  background: white;
  top: 12%;
  left: 12%;
  padding: 30px 10px;
  box-shadow: 1px 1px 4px #ccc;
  box-sizing: border-box;
}
.custom_top_cuadro
{
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 20%; */

}

.cont-servtit{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.custom_top_cuadro img{
  position: relative;
  left: 5%;
  /* margin-top: -7%; */
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.h3_services{
    margin-top: 15px;
    width: 65%;
    left: 6%;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    color: var(--color-principal);
    font-family: "FuturaMedium", sans-serif;
    /* text-align: justify; */
}
.custom_ul_services ul{
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  /* line-height: 2rem; */
}

.custom_ul_services ul li{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: justify;
  font-size: 1rem;
  color: #808080;
}

.texto_servicios_button{
  width: 50%;
  height: 65px;
  border: none;
  outline: none;
  position: relative;
  background: var(--color-terciario);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  left: 25%;
}

/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
#appointment{
  width: 100%;
  height: 110vh;
}
.custom_medicos h2{
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 3rem;
  color: var(--color-principal);
  font-family: "FuturaBold", sans-serif;
  margin-left: 0 !important;
}
.cuadro_principal{
  width: 60%;
  height: 90%;
  background-color: var(--color-principal);
  border-radius: 20px;
  position: relative;
  left: 30%;
}
.cuadro_secundario {
  width: 60%;
  height: 90%;
  background-color: var(--color-secundario);
  border-radius: 20px;
  position: relative;
  left: 5%;
}

.fx-imgSafari{
  width: 100%;
  height: 100%;
}

.cuadro_principal, .cuadro_secundario{
  margin-top: 10%;
}
.foto_doctor{
  width: 150px;
  height: 150px;
  border-radius: 120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  border: 4px solid var(--color-secundario);
}
#doctor2{

  border: 4px solid var(--color-principal);
}
.h2_doctor1{
  margin-left: 0 !important;
  text-align: center;
  position: relative;
  margin: 40px 0;
  color: white;
  font-size: 2.4rem;
  margin-left: 0 !important;
  text-align: center;
  font-family: "FuturaBold", sans-serif;
}
.hr_doctor1{
  background-color: white;
  width: 70%;
  height: 2px;
}
.ul_doctor1{
  width: 80%;
  left: 10%;
  position: relative;
}
.ul_doctor1 ul li{
  color: white;
  font-size: 1.2rem;
  font-family: "FuturaBook", sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}


/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.banner{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
}


.bannerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.bannerimg h3{
  position: absolute;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family: "FuturaBold", sans-serif ;
  font-size: 3.3rem;
  text-align: center;
  top: 25%;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.custom_form input{
   background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 1.5px solid;
  text-align: center;
  font-family: "FuturaBook", sans-serif;
  font-size: 1.3rem;
}
.custom_form input::placeholder{
  color: #aaa;
}

.form-control:focus{
  outline: none !important;
  box-shadow: none;
  border-color: var(--color-terciario);
}
.custom_form:focus{
  outline: none !important;
  box-shadow: none;
}


.custom_form h3
{
  color: var(--color-secundario);
  text-transform: uppercase;
  font-family: "FuturaMedium", sans-serif;
  margin-right: auto;
  margin-right: auto;
  text-align: center;
}

.custom_form h2
{
  color: var(--color-principal);
  text-transform: uppercase;
  font-family: "FuturaExtraBold", sans-serif;
  text-align: center;
  font-size: 3rem;
}
input.button_form_enviar{
  
  width: 10%;
  height: 65px;
  border: none;
  outline: none;
  background: var(--color-terciario);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.contacto_mapa{
  background: var(--color-principal);
}

.mapa_newro{
  width: 600px;
  height: 600px;
  position: relative;
  left: 10%;
  margin-left: auto;
  margin-right: auto;
}

.mapaiframe{
  width: 600px; 
  height: 600px;
}


.contacto2_letras span{
  font-size: 1.4rem;
  color: white;
  font-family: "FuturaMedium", sans-serif;
}
.contacto2_letras i{
  color: var(--color-secundario);
  font-size: 4rem;
  float: left;
}
.contacto2i{
  position: absolute;
  left: 5%;
  top: 0;
  padding: 0;
  font-size: 3rem;
}
.contacto2_button{
  width: 45%;
  height: 90px;
  border: none;
  outline: none;
  background: var(--color-terciario);
  color: var(--color-principal);
  font-size: 1.4rem;
  text-transform: uppercase;
  top: 70%;
  left: 45%;
  padding: 0;
  position: absolute;
}
.contacto2_button span{
  color: var(--color-principal)!important;
  text-transform: none;
  font-family: "FuturaMedium", sans-serif;
}
.contacto2_button a{
  color: var(--color-principal)!important;
}
.contacto2_button a:hover{
  color: var(--color-principal)!important;
}
.strong_phone
{
  font-size: 1.7rem;
  font-family: "FuturaBold", sans-serif;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #1c84e3;
}
.linea_terciaria{
  width: 100%;
  height: 10px;
  background-color: var(--color-terciario);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  width: 100%;
  height: 20vh;
  background: var(--color-principal);
}
.footer_last
{
  width: 100%;
  height: 15vh;
  background: white;
}
.custom_last{
  position: relative;
  top: 40%;
  margin-left: 0;
  margin-right: 0;
}
.custom_last a{
 color: var(--color-principal);
 font-size: 1.5rem;
 margin-left: 0 !important;
}


/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
  /*------------------MEDIA QUERIES----------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
.seccion_movil{
  display: none;
}
@media screen and (min-width: 1281px){
  .dr_malo_h1{
  margin-top: -10%;
  /* margin-left: 5% !important; */
}
.textoprincipal h1{
  font-size: 2.5rem !important;
}
.textoprincipal h2{
  font-size: 1.2rem !important;
}
.contact-info{
  margin-left: 30%;
}
.texto_about h1{
  font-size: 2.2rem;
}
.texto_about p{
  font-size: 1.2rem;
}
.texto_about_button{
    width: 25%;
    height: 60px;
    top: 45%;
    left: 55%;
}
}

@media (min-width: 992px) and (max-width: 1280px){
/*---------------------------------------------------------*/
/*---------------------SECCION HERO------------------------*/
/*---------------------------------------------------------*/

.textoprincipal{
  margin-left: 10% !important;
}
.textoprincipal h1{
  font-size: 2.5rem !important;
}
.textoprincipal span{
  font-size: 4.2rem !important;
}
.textoprincipal h2{
  font-size: 1rem !important;
}
.contact-info{
  margin-left: 15%;
}
#hero {
  background-position: 0px 50px;
}
.custom_row_pionero{
  margin-top: -23%;
}



/*---------------------------------------------------------*/
/*-----------------SECCION INFO DISCAL---------------------*/
/*---------------------------------------------------------*/

.texto_about h1{
  font-size: 2rem;
}
.texto_about p{
  font-size: 1.25rem;
}
.texto_about_button{
  width: 25%;
  height: 55px;
  left: 55%;
  top: 50%;
}

/*---------------------------------------------------------*/
/*-----------------SECCION CONTACTANOS---------------------*/
/*---------------------------------------------------------*/


.h3_services{
  font-size: 1rem;
}
.custom_top_cuadro
{
  top: 5%;
  
}
.custom_top_cuadro img{
  position: relative;
  left: 1%;
  margin-top: -7%;
  width: 50px;
  height: 50px;
}
.h3_services{
    margin-top: 15px;
    width: 75%;
    left: 0;
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    color: var(--color-principal);
    font-family: "FuturaMedium", sans-serif;
    text-align: center;
}
.custom_ul_services ul li{
  font-size: .8rem;
}
.texto_servicios_button{
  
  width: 30%;
  height: 55px;
  font-size: .7rem;
  text-transform: uppercase;
  left: 35%;
}
.custom_ul_services ul{
width: 100%;
height: 100%;
list-style-type: none;
padding: 0;
margin: 0 !important;
padding: 0 !important;
line-height: 1.3rem;
}




/*---------------------------------------------------------*/
/*-----------------SECCION EQUIPOMEDICO--------------------*/
/*---------------------------------------------------------*/


#appointment{
  height: 120vh;
}
.cuadro_principal{
left: 10%;
width: 80%;
}
.cuadro_secundario{
left: 10%;
width: 80%;
}
.ul_doctor1 ul li{
  font-size: 1.2rem;
}
.h2_doctor1{
  font-size: 1.7rem;
}


/*---------------------------------------------------------*/
/*--------------------SECCION BANNER-----------------------*/
/*---------------------------------------------------------*/
.bannerimg img{
  width: 100%;
}
.bannerimg h3{
font-size: 2.4rem;
top: 25%;  
}

/*---------------------------------------------------------*/
/*--------------------SECCION CONTACTO---------------------*/
/*---------------------------------------------------------*/


.button_form_enviar{
    width: 15%;
    height: 65px;
    border: none;
    outline: none;
    background: var(--color-terciario);
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}


/*---------------------------------------------------------*/
/*------------------SECCION CONTACTO2----------------------*/
/*---------------------------------------------------------*/

.mapa_newro{
  width: 400px;
  height: 400px;
}
.mapaiframe{
  width: 400px; 
  height: 400px;
}
.contacto2i{
  font-size: 2rem;
}
}/* TERMINA ->  @media (min-width: 768px) and (max-width: 1280px) */



@media (min-width: 768px) and (max-width: 991px){

  .custom_last{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    top: unset;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;
  }
.seccion_movil {
  display: block;
  overflow: inherit!important;
}
.seccion_web {
  display: none;
}


  #header_movil {
    background: var(--color-principal);
    transition: all 0.5s;
    z-index: 5;
    padding: 15px 0;
    top: 15vh;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }

  #header_movil.header-scrolled {
    top: 0;
  }

  #header_movil .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }

  #header_movil .logo a {
    color: #2c4964;
  }

  #header_movil .logo img {
    max-height: 40px;
  }
  .logotipo_img{
    padding: 0 !important;
    margin: 0 !important;
  }

  .logotipo_img img {
  top: 0;
  width: 45%;

  }
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/
  /*------------------SECCIÓN MOVIL----------------------*/
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/

  .llama_movil {
    position: relative;
    left: 35%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .llama_movil span {
    color: white;
    font-size: 1.2rem;
  }

  .custom_clock {
    color: var(--color-terciario);
    font-size: 2rem;
    float: left;
    padding-right: 5%;
    position: relative;
    /* margin-top: 3%; */
  }

  .contacto_malo_strong_movil {
    color: white;
    font-family: FuturaBold;
    margin: 0%!important;
    padding: 0%!important;
  }

  .horario_movil {
    position: relative;
    left: 25%;

  }

  .horario_movil span {
    color: white;
    font-size: 1.2rem;
  }

  #topmovil {
    background: #fff;
    height: 15vh;
    font-size: .8rem;
    transition: all .5s ease-in-out;
    display: inline-flex;
    width: 100%;
  }


  #hero_movil {
    width: 100%;
    height: 100vh;
    background: url("../img/web/hugomalo.png") top center;
    background-size: cover;
    position: relative;
    background-position: -200px 90px;
    background-repeat: no-repeat;
  }

  #hero_movil .container {
    position: relative;
  }

  #hero_movil .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }



  #hero_movil .btn-get-started:hover {
    background: #3291e6;
  }

  #hero_movil {
    /* background-attachment: fixed; */
  }

  .textoprincipal_movil {
   position: absolute;
    left: 30%;
    width: 40%;
    top: 40%;
  }

  .cuadrado1{
    position: absolute;
    top: 60%;
    left: 55%;
    height: auto;
    width: auto;
  }
  .cuadrado1 img
  {
    position: relative;
    width: 80%;
    height: 80%;
  }

 .cuadrado2{
    position: absolute;
    margin-top: -15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: 0;
  }
  .cuadrado2 img
  {
    position: relative;
    width: 70%;
    height: 70%;
  }
  .textoprincipal_movil span {
    color: var(--color-principal);
  }

  .textoprincipal_movil h1 {
    color: var(--color-principal) !important;
    line-height: 2rem !important;
  }

  .textoprincipal_movil h2 {
    margin-left: 0 !important;
    font-size: .85rem !important;
    font-family: "FuturaMedium";
  }
  .herniadisco_movil h1{
    width: 100%;
    height: auto;
    font-size: 2.4rem;
    color: var(--color-principal);
    font-family: "FuturaExtraBold", sans-serif;
    text-align: center;
  }
  .herniadisco_movil p{
    position: relative; 
    width: 80%;
    left: 10%;
    font-size: 1.2rem;
    font-family: "FuturaBook", sans-serif;
    color: #444;
    line-height: 1.5rem;
    text-align: justify;
  }
  .button_mov{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }  
  .button_movil1{
    width: 33%;
    height: 50px;
    background-color: var(--color-terciario);
    outline: none;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    position: relative;
    left: 33%;
  }
  .img_about_mov{
    width: 100%;
    margin-top: 10%;
    height: auto;
  }
  .img_about_mov img{
    width: 80%;
    left: 10%;
    position: relative;
    height: 100%;
  }
   #about_movil{
    width: 100%;
    height: 100vh;
  }
  .cuadro3_mov{
    width: 100%;
    height: auto !;
    position: relative;
  }
  .cuadro3_mov img{
    width: 100%;
    height: 100%;
    position: relative;
  }
  .cuadrado_movil{
    width: 90%;
    /* height: 70vh; */
    top: 15vh;
    left: 5%;
    background: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
  }
 

  .servicios_movil{
    width: 100%;
    height: auto;
    padding: 0 !important;
  }
  .custom_image_mov{
    width: 100%;
    height: 100vh;
    background-image: url('../img/web/hugo2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
  }

  .cuadrado_movil{
    width: 90%;
    height: 70vh;
    top: 15vh;
    left: 5%;
    background: white;
    position: relative;
    border-radius: 10px;
  }
  .topcuadro_mov{
    margin-top: 15%;
  }
  .topcuadro_mov p{
    font-family: "FuturaBold", sans-serif;
    font-size: 1.6rem;
    color: var(--color-principal);
  }

  .ul_movil li {
    font-size: 1rem;
    font-family: "FuturaBook", sans-serif;
    width: 80%;
    left: 10%;
    position: relative;
  }
  .button_serv_mov{
    width: 50%;
    height: 50px;
    position: relative;
    left: 25%;
    background-color: var(--color-terciario);
    outline: none;
    border: none;
    border-radius: 5px;
    color:white;
    font-family: "FuturaMedium", sans-serif;
    font-size: 1rem;
  }

  .movil_doctores_movil{
    width: 100%;
    height: auto;
    padding: 0 !important;
  }

  .cuadro_principal_movil{
    width: 90%;
    height: 60vh;
    background-color: var(--color-principal);
    border-radius: 20px;
    position: relative;
    left: 5%;
  }
  

  .foto_doctor{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    border: 4px solid var(--color-secundario);
  }

  .h2_doctor1{
    margin-left: 0 !important;
    text-align: center;
    position: relative;
    margin: 40px 0;
    color: white;
    font-size: 1.3rem;
    margin-left: 0 !important;
    text-align: center;
    font-family: "FuturaBold", sans-serif;
    }

    .ul_doctor1 ul li {
      color: white;
      font-size: 1.2rem;
      width: 100%;
      font-family: "FuturaBook", sans-serif;
      font-weight: 400;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
    .ul_doctor1
    {
      padding: 0 !important;
    }
    .hr_doctor1{
      height: 1px;
      width: 90%;
    }
    
    .cuadro_secundario {
      width: 90%;
      height: 60vh;
      background-color: var(--color-secundario);
      border-radius: 20px;
      position: relative;
      left: 5%;
    }
    .custom_medicos h2{
      font-size: 2rem;
      margin-top: 15%;
    }
    /*    */

    .imagen450{
      position: relative;
      width: auto;
      height: 450px;
      padding: 0 !important;
      background-image: url('../img/web/cuadro4.png');  
      background-size: cover;
    }

    

    /*
    */
    .w-50{
      width: 75% !important;
    }
   input.button_form_enviar{
  width: 40%;
  height: 65px;
  border: none;
  outline: none;
  background: var(--color-terciario);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}
    .mapa_newro{
      width: 300px;
      height: 300px;
      left: 0 !important;
    }
    .mapaiframe{
      width: 300px;
      height: 300px;
    }
    .contacto2_letras span{
      font-size: 1rem;
    }
    .contacto2_letras {
      margin-top: 15%;
    }
    .contacto2_button{
      width: 65%;
      top: 10%;
      left: 17%;
      font-size: 1rem;
      border-radius: 4px;
    }
    .contacto2i{
      font-size: 2rem;
    }
    .custom_last a{
      font-size: .8rem;

    }

    .fx_mapa-cont{
      padding: 20px 0!important;
      box-sizing: border-box;
    }

}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------MEDIA QUERIES PHONE ONLY------ */
/* -------------------------------------- */
/* -------------------------------------- */


@media (min-width: 320px) and (max-width: 767px) {

  .custom_last{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;
    padding: 10px;
    top: unset;
    box-sizing: border-box;
  }

  .fx_mapa-cont{
    padding: 20px 0!important;
    box-sizing: border-box;
  }

  .seccion_movil {
    display: block;
    padding: 0 !important;
    overflow: inherit!important;
  }

  .seccion_web {
    display: none;
  }

  #header_movil {
    background: var(--color-principal);
    transition: all 0.5s;
    z-index: 5;
    padding: 10px 0;
    top: 15vh;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }

  #header_movil.header-scrolled {
    top: 0;
  }

  #header_movil .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }

  #header_movil .logo a {
    color: #2c4964;
  }

  #header_movil .logo img {
    max-height: 40px;
  }

  .logoespine{
    width: 60px;
    /* height: 50px; */
  }


  .logotipo_img img {
    top: 15%;
    margin-left: 0px;;
  }

  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/
  /*------------------SECCIÓN MOVIL----------------------*/
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/
  /*---------------------------------------------------------*/

  .llama_movil {
    position: relative;
    left: 35%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .llama_col{
    display: flex;
    flex-flow: column;
  }

  .llama_movil span {
    color: white;
    font-size: .7rem;
    text-align: left;
  }

  .custom_clock {
    color: var(--color-terciario);
    font-size: 1.5rem;
    float: left;
    padding-right: 5%;
    position: relative;
    /* margin-top: 10%; */
  }

  .contacto_malo_strong_movil {
    color: white;
    font-family: FuturaBold;
    margin: 0%!important;
    padding: 0%!important;
  }

  .horario_movil {
    position: relative;
    left: 5%;
    display: flex;
    /* flex-flow: column; */
    align-items: center;

  }

  .horario_movil span {
    color: white;
    font-size: .65rem;
  }

  #topmovil {
    background: #fff;
    height: 15vh;
    font-size: .8rem;
    transition: all .5s ease-in-out;
    display: inline-flex;
    /* position: relative; */
    width: 100%;
  }


  #hero_movil {
    width: 100%;
    height: 90vh;
    background: url("../img/web/hugomalo.png") top center;
    background-size: cover;
    position: relative;
    background-position: -245px 10vh;
    background-repeat: no-repeat;
  }

  #hero_movil .container {
    position: relative;
  }

  #hero_movil .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
  }

  .dr_malo_h1 {
    margin-top: -15%;
  }

  #hero_movil .btn-get-started:hover {
    background: #3291e6;
  }

  #hero_movil {
    /* background-attachment: fixed; */
  }

  .textoprincipal_movil {
    width: 60%;
    left: 30%;
    top: 30%;
    position: absolute;
  }

  .textoprincipal_movil h1 {
    color: var(--color-principal) !important;
    line-height: 1.6rem !important;
    font-size: 1rem !important;
  }
  .textoprincipal_movil span {
    color: var(--color-principal);
    font-size: 2rem !important;
  }


  .textoprincipal_movil h2 {
    margin-left: 0 !important;
    font-size: .75rem !important;
    font-family: "FuturaMedium";
  }
    .cuadrado1{
    position: absolute;
    top: 55%;
    left: 30%;
    height: auto;
    width: auto;
  }
  .cuadrado1 img
  {
    position: relative;
    width: 85%;
    height: 75%;
  }

  .cuadrado2{
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15% !important;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .cuadrado2 img{
    width: 70%;
    height: 70%;
    position: relative;
  }

  .cont_button-mov{
    position: relative;
    width: 100%;
    height: 150px;
  }


  #about_movil{
    width: 100%;
    height: auto;
  }

  .herniadisco_movil h1{
    width: 100%;
    height: auto;
    font-size: 2.4rem;
    color: var(--color-principal);
    font-family: "FuturaExtraBold", sans-serif;
    text-align: center;
  }
  .herniadisco_movil p{
    position: relative; 
    width: 80%;
    left: 10%;
    font-size: 1.2rem;
    font-family: "FuturaBook", sans-serif;
    color: #444;
    line-height: 1.5rem;
    text-align: justify;
  }
  .button_mov{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }


  .button_movil1{
    width: 33%;
    height: 50px;
    background-color: var(--color-terciario);
    outline: none;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    position: relative;
    left: 33%;
  }
  .img_about_mov{
    width: 100%;
    margin-top: 10%;
    height: auto;
  }
  .img_about_mov img{
    width: 80%;
    left: 10%;
    position: relative;
    height: 100%;
  }






  .cuadro3_mov{
    width: 100%;
    height: auto;
    padding: 0 !important;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .cuadro3_mov img{
    top: 5vh;
    width: 100%;
    height: 50vh;
    position: relative;
  }


  .servicios_movil{
    width: 100%;
    height: auto;
    padding: 0 !important;
  }
  .custom_image_mov{
    width: 100%;
    height: 105vh;
    background-image: url('../img/web/hugo2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cuadrado_movil{
    width: 90%;
    /* height: 70vh;
    top: 15vh;
    left: 5%; */
    background: white;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 0;
  }
  .topcuadro_mov{
    margin-top: 10%;
  }
  .topcuadro_mov p{
    font-size: 1rem;
    color: var(--color-principal);
  }

  .ul_movil li {
    font-size: 1rem;
    font-family: "FuturaBook", sans-serif;
    width: 80%;
    left: 10%;
    position: relative;
  }
  .button_serv_mov{
    width: 50%;
    height: 50px;
    position: relative;
    left: 25%;
    background-color: var(--color-terciario);
    outline: none;
    border: none;
    border-radius: 5px;
    color:white;
    font-family: "FuturaMedium", sans-serif;
    font-size: 1rem;
  }

  .movil_doctores_movil{
    width: 100%;
    height: auto !important;
    padding: 0 !important;
  }

  .cuadro_principal_movil{
    width: 90%;
    height: auto;
    background-color: var(--color-principal);
    border-radius: 20px;
    position: relative;
    left: 5%;
    box-sizing: border-box;
    padding: 20px 0;
  }

  .foto_doctor{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    border: 4px solid var(--color-secundario);
  }

  .h2_doctor1{
    margin-left: 0 !important;
    text-align: center;
    position: relative;
    margin: 40px 0;
    color: white;
    font-size: 1.3rem;
    margin-left: 0 !important;
    text-align: center;
    font-family: "FuturaBold", sans-serif;
    }

    .ul_doctor1 ul li {
      color: white;
      font-size: .95rem;
      font-family: "FuturaBook", sans-serif;
      font-weight: 400;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
    }
    .ul_doctor1
    {
      padding: 0 !important;
    }
    .hr_doctor1{
      height: 1px;
      width: 90%;
    }
    
    .cuadro_secundario {
      width: 90%;
      height: auto;
      background-color: var(--color-secundario);
      border-radius: 20px;
      position: relative;
      left: 5%;
      box-sizing: border-box;
      padding: 15px 0;
    }
    .custom_medicos h2{
      font-size: 2rem;
      margin-top: 15%;
    }
    /*    */

    .imagen450{
      position: relative;
      width: 100%;
      height: auto;
      padding: 0 !important;
      
    }

    .imagen450 img{
      position: relative;
      width: 100%;
      height: 100%;
    }



    /*
    */
    .w-50{
      width: 75% !important;
    }    
input.button_form_enviar{
  width: 45%;
  height: 65px;
  border: none;
  outline: none;
  background: var(--color-terciario);
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}
    .mapa_newro{
      width: 300px;
      height: 300px;
      left: 0 !important;

    }
    .mapaiframe{
      width: 300px;
      height: 300px;
    }
    .contacto2_letras span{
      font-size: 1rem;
    }
    .cont_mov--cont-txt{
      margin: 20px auto;
      width: 80%;
    }

    .contacto2_letras i{
      color: var(--color-secundario);
      font-size: 2rem;
      float: left;
      margin-right: 10px;
    }
    .contacto2_button{
      width: 65%;
      top: -10%;
      left: 17%;
      font-size: 1rem;
      border-radius: 4px;
    }
    .contacto2i{
      font-size: 2rem;
    }
    .custom_last a{
      font-size: .8rem;

    }

    .custom_last{
      position: relative;
      margin-left: 0;
      margin-right: 0;
      top: unset;
      flex-flow: column;
      justify-content: space-around;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
    }

}

@media (max-width: 375px) and (min-height: 700px) {
   #hero_movil {
     width: 100%;
     height: 95vh;
     background: url("../img/web/hugomalo.png") top center;
     background-size: cover;
     position: relative;
     background-position: -230px 15vh;
     background-repeat: no-repeat;
   }
   .cuadrado1{
     top:70%;
     left: 35%;
   }
   .textoprincipal_movil{
     width: 60%;
     left: 40%;
   }
   .ul_doctor1 ul li{
     font-size: 1rem;
   }
}